<footer class="container footer sm:footer-horizontal gap-2 py-4">
  <aside>
    <p>© 2025 Minecraft Metro</p>
    <p class="text-xs text-gray-500">Materials may be used with a link to this website.</p>
  </aside>

  <nav class="grid-flow-col md:place-self-center md:justify-self-end gap-6">
    {% if not request.user %}
      <p><a href="{{ url_for('signin') }}" class="link">Sign in</a></p>
    {% else %}
      <p><a href="{{ url_for('admin.index') }}" class="link">Control</a></p>
      <p><span class="link"
               hx-post="{{ url_for('logout') }}"
               hx-trigger="click"
      >Sign out</span></p>
    {% endif %}
  </nav>
</footer>