<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Minecraft Metro</title>
  <link rel="icon" href="{{ url_for('vite', file_path='images/favicon.png') }}" sizes="16x16" type="image/png">
  <script>
    (function () {
      const savedTheme = localStorage.getItem("theme") || "light"
      document.documentElement.setAttribute("data-theme", savedTheme)
    })()
  </script>
</head>

<body class="overflow-y-scroll antialiased">
<div class="min-h-screen flex flex-col">
  <div class="container">
    {% include "admin/components/header.html" %}
  </div>

  <div id="alert-error" class="toast toast-top toast-center hidden">
    <div class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
      <span></span>
    </div>
  </div>

  {% include "admin/components/flashes.html" %}

  <main class="container flex-1">
    <div class="flex flex-col lg:flex-row items-start gap-6">
      <div class="hidden lg:block flex-0 min-w-64">
        <h2 class="text-3xl mb-6">{{ _("Menu") }}</h2>
        <ul class="text-xl flex flex-col gap-4">
          <li><a href="{{ url_for('admin.index') }}" class="link">{{ _("Dashboard") }}</a></li>
          <li><a href="{{ url_for('admin.world.index') }}" class="link">{{ _("Worlds") }}</a></li>
          <li><a href="{{ url_for('admin.line.index') }}" class="link">{{ _("Lines") }}</a></li>
          <li><a href="{{ url_for('admin.station.index') }}" class="link">{{ _("Stations") }}</a></li>
        </ul>
      </div>
      <div class="flex-1 w-full">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <div class="mt-6 bg-base-300 text-base-content">
    {% include "components/footer.html" %}
  </div>
</div>

{{ vite_hmr() }} {{ vite('resources/main.ts') }}
<script type="text/hyperscript">
  on htmx:responseError
    put event.detail.xhr.responseText into <#alert-error > div > span />
    add .visible to #alert-error
    remove .hidden from #alert-error
    js document.querySelectorAll("dialog.modal").forEach((element) => element.close()) end
    wait 5s
    add .hidden to #alert-error
    remove .visible from #alert-error
</script>
<script src="{{ url_for('vite', file_path='js/htmx.min.js') }}"></script>
<script src="{{ url_for('vite', file_path='js/_hyperscript.min.js') }}"></script>
</body>
</html>