{% extends "layouts/default.html" %}

{% block content %}
  <h2 class="text-3xl mb-6">{{ _("All station") }}</h2>

  {% if stations %}
    <ul class="flex flex-col gap-4">
      {% for station in stations %}
        <li>
          <div class="text-xl">
            <a href="{{ url_for('station', station_id=station.id) }}" class="link">{{ station.name }}</a>
          </div>
          <div>{{ station.line.name }} {{ _("line") }}, {{ station.line.world.name }}</div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ _("No information available") }}</p>
  {% endif %}
{% endblock %}