{% extends "admin/layouts/default.html" %}

{% block content %}
  <h2 class="text-3xl mb-6">Lines</h2>

  <div class="mb-6">
    <a href="{{ url_for('admin.line.add') }}" class="btn btn-primary">Create a new line</a>
  </div>

  {% if lines %}
    <div class="overflow-x-auto mb-6 w-full">
      <table class="table table-zebra w-full">
        <thead>
        <tr>
          <th>Name</th>
          <th>World</th>
          <th>Order</th>
          <th>Created at</th>
          <th>Stations</th>
          <th class="flex justify-end">Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for line in lines %}
          <tr>
            <td><a href="{{ url_for('admin.line.edit', line_id=line.id) }}" class="link">{{ line.name }}</a></td>
            <td>{{ line.world.name }}</td>
            <td>{{ line.order }}</td>
            <td>{{ line.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ line.stations|length }}</td>
            <td class="flex justify-end">
              <button class="btn btn-circle btn-xs btn-error"
                      _="on click showModal() the #modal-remove-{{ line.id }}"
              >
                {% with class="w-4 h-4" %}
                  {% include "components/icons/close.html" %}
                {% endwith %}
              </button>

              {% with
                  id="modal-remove-"+line.id|string,
                  object="line &laquo;"+line.name+"&raquo;?",
                  url=url_for('admin.line.delete', line_id=line.id) %}
                {% include "components/confirm_delete.html" %}
              {% endwith %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>No information available</p>
  {% endif %}
{% endblock %}